<section
  class="pdt-150 pdb-130 bg-cover"
  data-background="{{include.props.background}}"
  data-overlay-dark="8"
>
  <div
    class="section-title text-center wow fadeInUp mb-0"
    data-wow-delay="0ms"
    data-wow-duration="1500ms"
  >
    <div class="container">
      <div class="row mb-5 section-white-typo">
        <div class="col"></div>
        <div class="col-lg-8 col-xl-6">
          <div class="section-title-block">
            <h5
              class="text-primary-color anim-box-objects line-both-side mrb-15"
            >
              {{include.props.title}}
            </h5>
            <h2>{{include.props.description}}</h2>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row text-dark">
        {% for item in include.props.items %}
        <div class="col-md-6 col-xl-4">
          <div class="feature-box mrb-lg-60 mb-5">
            <div class="feature-content">
              <div class="title">
                <h3>{{item.title}}</h3>
              </div>
              <div class="para">
                <p>{{item.description}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
