<div class="col-md-6 col-xl-4">
    <div class="feature-box mrb-lg-60 mb-5">
        <!-- <div class="feature-thumb">
            <img class="img-full" src="http://placehold.it/375x250" alt="">
        </div> -->
        <div class="feature-content">
            <div class="title">
                <h3>{{include.title}}</h3>
            </div>
            <div class="para">
                <p>{{include.description}}</p>
            </div>
            <!-- <div class="link">
                <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
            </div> -->
        </div>
    </div>
</div>