<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="{{ site.twitter.author }}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter.account }}">
  <meta name="twitter:creator" content="{{ site.twitter.account }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% if page.title %}
  <meta property="og:title" content="{{ site.twitter.author }}: {{ page.title }}" />
  {% else %}
  <meta property="og:title" content="{{ site.title }}" />
  {% endif %}

  <link rel="alternate" hreflang="en" type="application/rss+xml" title="Newsletter issues" href="{{ '/newsletter_issues.rss' | absolute_url }}">

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta
    name="description"
    content="
  {% if page.headline %} {{page.headline}} 
  {% else %}{{ site.description }} 
  {% endif %}"
  />
  {% if page.hero-img %}
    {% if page.hero-img contains '://' %}
      <meta property="og:image" content="{{ page.hero-img }}" />
      <meta name="twitter:image" content="{{ page.hero-img }}" />
    {% else %}
      <meta property="og:image" content="{{ page.hero-img | relative_url }}" />
      <meta name="twitter:image" content="{{ page.hero-img | relative_url }}" />
    {% endif %}
  {% else %}
    <meta property="og:image" content="{{ site.url }}/assets/images/logo_full.png" />
    <meta name="twitter:image" content="{{ site.url }}/assets/images/logo_full.png" />
  {% endif %}
  <meta name="robots" content="index,follow" />

  {% if page.layout == 'email' or page.layout == 'podcast' %}
    <meta property="og:description" content="{{ page.subtitle }}" />
  {% else %}
  <meta
    property="og:description"
    content="{% if page.headline %}{{page.headline}}{% else %}{{ site.description }}{% endif %}"
  />
  {% endif %} {% if page.date %}
  <meta
    property="article:published_time"
    content="{{ page.date | date_to_xmlschema }}"
  />
  <meta property="article:author" content="{{ site.url }}/about/" />
  {% endif %} {% if page.tags %}
  <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}" />
  {% endfor %} {% endif %} {% if page.author %}
  <meta property="article:author" content="{{ author }}" />
  {% endif %} {% if page.name == 'index.md' %}
  <title>{{site.title}}</title>
  {% else %}
  <title>{{page.title}}</title>
  {% endif %}

  <link
    rel="shortcut icon"
    type="image/png"
    href="{{ site.baseurl }}/assets/images/favicon.ico"
  />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/sass-generated/style.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/responsive.css" />

  <script src="https://cdn.plyr.io/3.7.2/plyr.polyfilled.js"></script>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
</head>
