<script src="/assets/js/jquery.v1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery-core-plugins.js"></script>
<script src="/assets/js/main.js"></script>
{% if page.layout == 'archive' %}
<script src="/assets/js/moment.js"></script>
<script src="/assets/js/archive.js"></script>
{% endif %} {% if page.layout == 'email' %}
<script src="/assets/js/moment.js"></script>
<script src="/assets/js/showdown.min.js"></script>
<script src="/assets/js/showdown-table.min.js"></script>
<script src="/assets/js/emailpost.js"></script>
{% endif %}
