	<!-- Service Section Start -->
	<section class="serivce-section bg-silver-light pdt-105 pdb-80" data-background="assets/images/bg/abs-bg7.png">
		<div class="section-title">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="section-title-left-part mrb-sm-30">
							<div class="section-left-sub-title mb-20">
								<h5 class="sub-title text-primary-color">Newsletter</h5>
							</div>
							<h2 class="title">Topics</h2>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-6">
						<div class="section-title-right-part">
							<p>Feedback from subscribers will greatly shape the topics we cover. Likely early topics will be about the following:</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content">
			<div class="container">
				<div class="row">
					{% for item in include.items %}
                        {% include service-item.html 
                            icon=item.icon 
                            title=item.title 
                            description=item.description
                        %}
                    {% endfor %} 
					
				</div>
			</div>
		</div>
	</section>
	<!-- Service Section End -->