<div class="slide-item text-center">
    <div class="image-layer" data-background="{{include.background}}"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 content-column">
                <div class="content-box">
                    <h1>{{include.title}}</h1>
                    <p>{{include.description}}</p>
                    <div class="btn-box">
                        <a href="#subscribe" class="cs-btn-one btn-gradient-color">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>