---
layout: default_archive
title: Archive Search
---
<script src="https://files.stork-search.net/stork.js"></script>

{% include hero.html title=page.title bgColor=page.bgColor bgImg=page.bgImg %}
{%- comment -%} archive.js fetches content {%- endcomment -%}
<div class="container my-100">
  <div class="markdown-body">{{content}}</div>

  <div class="sidebar-right mb-5">
    <div class="news-sidebar-widget">
      <div class="widget sidebar-widget widget-search mrb-30">
        Enter text below to search back issues
        <form class="search-form">
          <label>
            <input data-stork="newsletter" />
          </label>
        </form>
      </div>
    </div>
    <div data-stork="newsletter-output"></div>
  </div>
</div>

<script>
  stork.register("newsletter", "{{ site.baseurl }}/assets/index/index.st");
</script>
