---
layout: default
---
{%
  include hero.html
  title=page.title
%}
<div class="container mt-5">
    {% for post in paginator.posts %}
    <div class="row">
      <div class="col-lg-12 mb-5 bg-light p-4 border rounded">
        <p>{{post.date | date: "%B %d, %Y"}}</p>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{% if post.author %} Posted by {{post.author}} {% endif %}</p>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}">Read More... <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="pagination mb-5">
        <!-- pagination -->

          <nav>
            <ul class="pagination">
              <!-- Previous -->
              <li class="page-item {% unless paginator.previous_page %} disabled {% endunless %}">
                <a class="page-link" href="{{ paginator.previous_page_path }}">
                  <i class="fas fa-long-arrow-alt-left"></i> Previous</a>
              </li>
              <!-- Other pages -->
              {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
              <li class="page-item active"><span class="page-link">{{ page }}</span></li>
              {% elsif page == 1 %}
              <li class="page-item"><a href="/blog.html" class="page-link">{{ page }}</a></li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="/blog/page/{{page}}">
                  {{ page }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
              <!-- next page -->
              <li class="page-item {% unless paginator.next_page %} disabled {% endunless %}">
                <a class="page-link" href="{{ paginator.next_page_path }}">Next <i class="fas fa-long-arrow-alt-right"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    {% endif %}

</div>