---
layout: default
---

{% include hero.html title=page.title bgColor=page.bgColor bgImg=page.bgImg %}

{% assign prefix = site.data.resource_names_by_slug[page.tag] | append: ": "  %}

{% assign subtags = '' | split: '' %}
{% assign supertags = '' | split: '' %}
{% for tag in site.data.resources %}
  {% if tag['slug'] contains page.tag and tag['slug'] != page.tag %}
    {% assign tagurl = "/category/" | append: tag['slug'] | relative_url  %}
    {% assign tagname = tag['name'] | remove: prefix %}
    {% assign linkstr = '<a href=' | append: tagurl | append: '>' | append: tagname | append: '</a>' %}
    {% assign subtags = subtags | push: linkstr %}
  {% elsif page.tag contains tag['slug'] and page.tag != tag['slug'] %}
    {% assign tagurl = "/category/" | append: tag['slug'] | relative_url  %}
    {% assign tagname = tag['name'] %}
    {% assign linkstr = '<a href=' | append: tagurl | append: '>' | append: tagname | append: '</a>' %}
    {% assign supertags = supertags | push: linkstr %}
  {% endif %}
{% endfor %}

<div class="{% unless page.customized %}my-100 container{% endunless %}">
    <div class="markdown-body">

      <p>
      {% if supertags and supertags.size != 0 %}
        <b>Parent categories</b>: {{ supertags | join: ', ' }}
      {% else %}
        <b>All categories</b>: <a href="{{'/items_by_tag' | relative_url}}">Resources by category</a>
      {% endif %}
      </p>

      {% if subtags and subtags.size != 0 %}
        <p> <b>Subcategories</b>: {{ subtags | join: ', '}} </p>
      {% endif %}

      {% for post in site.items %}
        {% assign match = false %}
        {% for posttag in post.tags %}
          {% if posttag contains page.tag %}
             {% assign match = true %}
          {% endif %}
        {% endfor %}
        {% if match == true %}
          <section class="blog-entries">
            <h2 class="post-title"><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{post.title}}</a></h2>
            <div class="blog-data">
              {% if post.tags.size > 1 %}
                <p><i>Other tags: |
                {% for tag in post.tags %}
                  {% if tag != page.tag %}
                    <a href="{{tag}}">{{site.data.resource_names_by_slug[tag]}}</a> |
                  {% endif %}
                {% endfor %}
                </i></p> 
              {% endif %}
            </div>
            <p class="post-content">{{ post.content | split:"<!-- more -->" | first | strip_html  |truncatewords: 85 }}</p>
            <a class="read-more" href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">Continue...</a>
          </section>
          <hr>
        {% endif %}
      {% endfor %}
    </div>
</div>