---
layout: default
---
{% include slider.html 
	items=page.slider
%}

<!-- About Section Start -->
<section class="about-section anim-object2 anim-top-right pdt-110 pdb-110">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-12 col-xl-6">
				<div class="about-image-block mrb-lg-60 pr-xl-5 mb-5 mb-xl-0 
				d-flex align-items-center justify-content-center">
					<img class="obj-cover w-xl-100 logo-limit-w obj-center" src="/assets/images/logo.png" alt="">
				</div>
			</div>
			<div class="col-md-12 col-xl-6"><div></div>
				<h3 class="title-under-line mrb-70">Newsletter <span class="f-weight-400">for research computing decision makers and managers</span></h3>
				<h5 class="mrb-30 text-primary-color">{{page.about.title}}</h5>
				<p class="mrb-40 text-justify">{{page.about.description}}</p>
				<!-- <div class="signature mrb-30"><img src="assets/images/about/signature.png" alt=""></div> -->
				<a href="/about" class="cs-btn-one btn-gradient-color">Read More</a>
			</div>
		</div>
	</div>
</section>
<!-- About Section End -->
		
<!-- Feature Section Start -->
{% include features.html 
	items=page.features.items 
	background=page.features.background 
	title=page.features.title
	description=page.features.description
%}
<!-- Feature Section End -->

<!-- Service Section Start -->
{% include services.html 
	items=page.services.items 
%}
<!-- Service Section End -->



{% include faq.html 
	background=page.faq.background 
	title=page.faq.title 
	subtitle=page.faq.subtitle 
	description=page.faq.description
	items=page.faq.items
%}