---
layout: default
---

<section class="page-title-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page-title-content justify-content-start">
          <h3 class="title text-white" id="email-title">
            {{page.title}}
          </h3>
          <h4 class="text-white">
            {{page.subtitle}}
          </h4>
        </div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/archive">Archive</a></li>
              <li id="breadcrumb-email" class="breadcrumb-item active" aria-current="page">
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container my-100">
<div id="email-content" class="markdown-body max-w-900">{{content}}</div></div>
